In [1]:
import pandas as pd

In [3]:
season_list = ['2014', '2015', '2018' ]
print(season_list)

['2014', '2015', '2018']

In [5]:
season_list.append('2023')
print(season_list)

['2014', '2015', '2018', '2023', '2023']

In [11]:
season_list.insert(2,'2016')
print(season_list)

['2014', '2015', '2016', '2016', '2018', '2023', '2023']

In [13]:
lakers_season = {
    'first_name' : ['lebron', 'kyle', 'brandom', 'josh'],
    'last_name': ['james', 'kuzma', 'ingram', 'hart'],
    'ppg': ['27.4', '18.7', '18.3', '7.8'],
    'rpg': ['8.9', '5.3', '2.3', '12.2']}

df = pd.DataFrame(lakers_season)
print(df)

  first_name last_name   ppg   rpg
0     lebron     james  27.4   8.9
1       kyle     kuzma  18.7   5.3
2    brandom    ingram  18.3   2.3
3       josh      hart   7.8  12.2

In [15]:
df = pd.DataFrame(lakers_season, index=[1,2,3,4])
print(df)

  first_name last_name   ppg   rpg
1     lebron     james  27.4   8.9
2       kyle     kuzma  18.7   5.3
3    brandom    ingram  18.3   2.3
4       josh      hart   7.8  12.2

In [18]:
df = pd.read_csv("players.csv")
df.head()

,Unnamed: 0,NBA_ID,LAST_NAME,FIRST_NAME,FULL_NAME,IS_ACTIVE,IMAGE_URL,OVERALLATTRIBUTE,CLOSESHOT,MIDRANGESHOT,...,JERSEY_NUM,POSITION,COUNTRY,AGE,BD_YEAR,BD_MONTH,BD_DAY,EXPERIENCE,POSITION_CODE,COUNTRY_CODE
0,0,1630173,Achiuwa,Precious,Precious Achiuwa,True,https://cdn.nba.com/headshots/nba/latest/1040x...,76,83,64,...,#5,Forward,Nigeria,24y,1999,SEPTEMBER,19,3,SF/PF,NG
1,1,203500,Adams,Steven,Steven Adams,True,https://cdn.nba.com/headshots/nba/latest/1040x...,80,94,65,...,#4,Center,New Zealand,30y,1993,JULY,20,10,CE/PF,NZ
2,2,1628389,Adebayo,Bam,Bam Adebayo,True,https://cdn.nba.com/headshots/nba/latest/1040x...,88,94,82,...,#13,Center-Forward,USA,26y,1997,JULY,18,6,CE/PF,US
3,3,1630534,Agbaji,Ochai,Ochai Agbaji,True,https://cdn.nba.com/headshots/nba/latest/1040x...,74,81,72,...,#30,Guard,USA,23y,2000,APRIL,20,1,PG/SG,US
4,4,1630583,Aldama,Santi,Santi Aldama,True,https://cdn.nba.com/headshots/nba/latest/1040x...,77,81,74,...,#7,Forward-Center,Spain,23y,2001,JANUARY,10,2,PF/CE,ES

In [260]:
df = pd.read_csv("players.csv", header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,Unnamed: 0,NBA_ID,LAST_NAME,FIRST_NAME,FULL_NAME,IS_ACTIVE,IMAGE_URL,OVERALLATTRIBUTE,CLOSESHOT,MIDRANGESHOT,...,JERSEY_NUM,POSITION,COUNTRY,AGE,BD_YEAR,BD_MONTH,BD_DAY,EXPERIENCE,POSITION_CODE,COUNTRY_CODE
1,0,1630173,Achiuwa,Precious,Precious Achiuwa,True,https://cdn.nba.com/headshots/nba/latest/1040x...,76,83,64,...,#5,Forward,Nigeria,24y,1999,SEPTEMBER,19,3,SF/PF,NG
2,1,203500,Adams,Steven,Steven Adams,True,https://cdn.nba.com/headshots/nba/latest/1040x...,80,94,65,...,#4,Center,New Zealand,30y,1993,JULY,20,10,CE/PF,NZ
3,2,1628389,Adebayo,Bam,Bam Adebayo,True,https://cdn.nba.com/headshots/nba/latest/1040x...,88,94,82,...,#13,Center-Forward,USA,26y,1997,JULY,18,6,CE/PF,US
4,3,1630534,Agbaji,Ochai,Ochai Agbaji,True,https://cdn.nba.com/headshots/nba/latest/1040x...,74,81,72,...,#30,Guard,USA,23y,2000,APRIL,20,1,PG/SG,US

In [21]:
df = pd.read_csv("players.csv", index_col = 'NBA_ID')
df.head()

,Unnamed: 0,LAST_NAME,FIRST_NAME,FULL_NAME,IS_ACTIVE,IMAGE_URL,OVERALLATTRIBUTE,CLOSESHOT,MIDRANGESHOT,THREEPOINTSHOT,...,JERSEY_NUM,POSITION,COUNTRY,AGE,BD_YEAR,BD_MONTH,BD_DAY,EXPERIENCE,POSITION_CODE,COUNTRY_CODE
NBA_ID,,,,,,,,,,,,,,,,,,,,,
1630173,0,Achiuwa,Precious,Precious Achiuwa,True,https://cdn.nba.com/headshots/nba/latest/1040x...,76,83,64,66,...,#5,Forward,Nigeria,24y,1999,SEPTEMBER,19,3,SF/PF,NG
203500,1,Adams,Steven,Steven Adams,True,https://cdn.nba.com/headshots/nba/latest/1040x...,80,94,65,26,...,#4,Center,New Zealand,30y,1993,JULY,20,10,CE/PF,NZ
1628389,2,Adebayo,Bam,Bam Adebayo,True,https://cdn.nba.com/headshots/nba/latest/1040x...,88,94,82,65,...,#13,Center-Forward,USA,26y,1997,JULY,18,6,CE/PF,US
1630534,3,Agbaji,Ochai,Ochai Agbaji,True,https://cdn.nba.com/headshots/nba/latest/1040x...,74,81,72,79,...,#30,Guard,USA,23y,2000,APRIL,20,1,PG/SG,US
1630583,4,Aldama,Santi,Santi Aldama,True,https://cdn.nba.com/headshots/nba/latest/1040x...,77,81,74,79,...,#7,Forward-Center,Spain,23y,2001,JANUARY,10,2,PF/CE,ES

In [24]:
df = pd.read_csv("players.csv", usecols = ['LAST_NAME', 'FIRST_NAME', 'IS_ACTIVE'])
df.head()

  LAST_NAME FIRST_NAME  IS_ACTIVE
0   Achiuwa   Precious       True
1     Adams     Steven       True
2   Adebayo        Bam       True
3    Agbaji      Ochai       True
4    Aldama      Santi       True

In [49]:
df = pd.read_csv("players.csv")
ab = df.drop('IS_ACTIVE', axis =1)
ab.head()

,Unnamed: 0,NBA_ID,LAST_NAME,FIRST_NAME,FULL_NAME,IMAGE_URL,OVERALLATTRIBUTE,CLOSESHOT,MIDRANGESHOT,THREEPOINTSHOT,...,JERSEY_NUM,POSITION,COUNTRY,AGE,BD_YEAR,BD_MONTH,BD_DAY,EXPERIENCE,POSITION_CODE,COUNTRY_CODE
0,0,1630173,Achiuwa,Precious,Precious Achiuwa,https://cdn.nba.com/headshots/nba/latest/1040x...,76,83,64,66,...,#5,Forward,Nigeria,24y,1999,SEPTEMBER,19,3,SF/PF,NG
1,1,203500,Adams,Steven,Steven Adams,https://cdn.nba.com/headshots/nba/latest/1040x...,80,94,65,26,...,#4,Center,New Zealand,30y,1993,JULY,20,10,CE/PF,NZ
2,2,1628389,Adebayo,Bam,Bam Adebayo,https://cdn.nba.com/headshots/nba/latest/1040x...,88,94,82,65,...,#13,Center-Forward,USA,26y,1997,JULY,18,6,CE/PF,US
3,3,1630534,Agbaji,Ochai,Ochai Agbaji,https://cdn.nba.com/headshots/nba/latest/1040x...,74,81,72,79,...,#30,Guard,USA,23y,2000,APRIL,20,1,PG/SG,US
4,4,1630583,Aldama,Santi,Santi Aldama,https://cdn.nba.com/headshots/nba/latest/1040x...,77,81,74,79,...,#7,Forward-Center,Spain,23y,2001,JANUARY,10,2,PF/CE,ES

In [52]:
df = pd.read_csv("players.csv", header = None)
df.head()
df.shape

(528, 55)

In [53]:
df.size

29040

In [58]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
count,528,528,528,528,528,528,528,528,528,528,...,528,528,528,528,528,528,528,528,528,528
unique,528,528,442,394,528,2,528,33,48,54,...,58,8,45,22,22,13,32,21,7,44
top,Unnamed: 0,NBA_ID,Williams,Jalen,FULL_NAME,True,IMAGE_URL,75,97,70,...,#0,Guard,USA,24y,2000,SEPTEMBER,12,Rookie,PG/SG,US
freq,1,1,9,12,1,527,1,54,30,49,...,26,209,401,57,56,53,24,81,209,401

In [65]:
df = pd.read_csv("nba_season_stats.csv",)
df.head()

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
1,Quincy Acy,27,BRK,70,8,1359,130,365,0.356,102,...,0.817,40,217,257,57,33,29,60,149,411
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
3,Bam Adebayo,20,MIA,69,19,1368,174,340,0.512,0,...,0.721,118,263,381,101,32,41,66,138,477
4,Arron Afflalo,32,ORL,53,3,682,65,162,0.401,27,...,0.846,4,62,66,30,4,9,21,56,179

In [66]:
df.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,601.000000,605.000000,605.000000,545.000000,...,550.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000
mean,26.148760,43.148760,20.330579,981.586777,161.049587,349.932231,0.442484,42.656198,117.917355,0.309415,...,0.742436,39.489256,137.456198,176.945455,94.484298,31.376860,19.580165,55.606612,80.722314,432.363636
std,4.143257,28.167974,27.081429,848.489358,166.700164,353.882955,0.124688,54.726056,143.317643,0.159779,...,0.148462,51.896343,144.344351,189.763513,119.270070,32.042141,26.335563,59.431278,67.748309,453.941790
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,16.000000,0.000000,175.000000,21.000000,55.000000,0.398000,1.000000,7.000000,0.250000,...,0.667000,5.000000,21.000000,26.000000,11.000000,5.000000,2.000000,8.000000,15.000000,55.000000
50%,25.000000,45.000000,5.000000,775.000000,102.000000,225.000000,0.441000,18.000000,57.000000,0.339000,...,0.767500,22.000000,97.000000,124.000000,53.000000,23.000000,10.000000,36.000000,67.000000,265.000000
75%,29.000000,72.000000,36.000000,1661.000000,255.000000,560.000000,0.495000,66.000000,190.000000,0.380000,...,0.833000,53.000000,210.000000,260.000000,128.000000,47.000000,26.000000,86.000000,134.000000,681.000000
max,41.000000,82.000000,82.000000,3026.000000,857.000000,1687.000000,1.000000,265.000000,722.000000,1.000000,...,1.000000,399.000000,848.000000,1247.000000,820.000000,177.000000,193.000000,381.000000,285.000000,2251.000000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  605 non-null    object
 1   Age     605 non-null    int64
 2   Tm      605 non-null    object
 3   G       605 non-null    int64
 4   GS      605 non-null    int64
 5   MP      605 non-null    int64
 6   FG      605 non-null    int64
 7   FGA     605 non-null    int64
 8   FG%     601 non-null    float64
 9   3P      605 non-null    int64
 10  3PA     605 non-null    int64
 11  3P%     545 non-null    float64
 12  2P      605 non-null    int64
 13  2PA     605 non-null    int64
 14  2P%     588 non-null    float64
 15  eFG%    601 non-null    float64
 16  FT      605 non-null    int64
 17  FTA     605 non-null    int64
 18  FT%     550 non-null    float64
 19  ORB     605 non-null    int64
 20  DRB     605 non-null    int64
 21  TRB     605 non-null    int64
 22  AST     605 non-null    int64
 23  STL     605 non-null    int64
 24  BLK     605 non-null    int64
 25  TOV     605 non-null    int64
 26  PF      605 non-null    int64
 27  PTS     605 non-null    int64
dtypes: float64(5), int64(21), object(2)
memory usage: 132.5+ KB

In [69]:
df.size

16940

In [75]:
df.median

<bound method DataFrame.median of             Player  Age   Tm   G  GS    MP   FG  FGA    FG%   3P  ...    FT%  \
0     Alex Abrines   24  OKC  75   8  1134  115  291  0.395   84  ...  0.848
1       Quincy Acy   27  BRK  70   8  1359  130  365  0.356  102  ...  0.817
2     Steven Adams   24  OKC  76  76  2487  448  712  0.629    0  ...  0.559
3      Bam Adebayo   20  MIA  69  19  1368  174  340  0.512    0  ...  0.721
4    Arron Afflalo   32  ORL  53   3   682   65  162  0.401   27  ...  0.846
..             ...  ...  ...  ..  ..   ...  ...  ...    ...  ...  ...    ...
600   Tyler Zeller   28  BRK  42  33   703  125  229  0.546   10  ...  0.667
601   Tyler Zeller   28  MIL  24   1   406   62  105  0.590    0  ...  0.895
602    Paul Zipser   23  CHI  54  12   824   81  234  0.346   37  ...  0.760
603     Ante Zizic   21  CLE  32   2   214   49   67  0.731    0  ...  0.724
604    Ivica Zubac   20  LAL  43   0   410   61  122  0.500    0  ...  0.765

     ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0     26   88  114   28   38    8   25  124   353
1     40  217  257   57   33   29   60  149   411
2    384  301  685   88   92   78  128  215  1056
3    118  263  381  101   32   41   66  138   477
4      4   62   66   30    4    9   21   56   179
..   ...  ...  ...  ...  ...  ...  ...  ...   ...
600   63  131  194   28    8   21   35   78   300
601   47   64  111   19    7   14   12   48   141
602   13  118  131   46   20   15   43   86   218
603   24   36   60    5    2   13   11   30   119
604   45   78  123   25    8   15   26   47   161

[605 rows x 28 columns]>

In [262]:
df = pd.read_csv("nba_season_stats.csv",)
bs = df.sample(25)
bs

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
321,Joffrey Lauvergne,26,SAS,55,1,534,98,190,0.516,0,...,0.638,63,108,171,41,9,3,33,45,226
383,Donovan Mitchell,21,UTA,79,71,2638,595,1362,0.437,187,...,0.805,52,244,296,291,118,27,215,213,1616
323,Jake Layman,23,POR,35,1,160,14,47,0.298,4,...,0.667,4,12,16,11,6,4,5,13,34
334,DeAndre Liggins,29,NOP,27,3,244,18,41,0.439,8,...,NaN,2,24,26,21,10,4,7,20,44
232,Myke Henry,25,MEM,20,0,378,41,109,0.376,19,...,0.600,10,28,38,22,31,6,19,28,107
242,George Hill,31,CLE,24,24,669,83,187,0.444,27,...,0.805,20,44,64,67,22,15,28,53,226
511,J.R. Smith,32,CLE,80,61,2244,240,595,0.403,143,...,0.696,29,206,235,141,68,11,81,161,662
413,Raul Neto,25,UTA,41,0,498,69,151,0.457,19,...,0.743,7,42,49,75,13,4,36,38,183
178,Dorian Finney-Smith,24,DAL,21,13,448,46,121,0.380,20,...,0.733,22,53,75,26,10,4,21,43,123
358,James Michael McAdoo,25,PHI,3,0,18,2,7,0.286,2,...,1.000,0,2,2,0,0,1,1,1,8
416,Nerlens Noel,23,DAL,30,6,472,55,105,0.524,0,...,0.750,48,120,168,20,31,22,26,59,131
368,Trey McKinney-Jones,27,IND,1,0,1,0,0,NaN,0,...,NaN,0,0,0,0,0,0,0,0,0
587,Jamil Wilson,27,LAC,15,10,274,38,81,0.469,27,...,0.500,3,29,32,10,5,8,8,34,105
394,Marcus Morris,28,BOS,54,21,1447,262,611,0.429,86,...,0.805,43,246,289,72,35,12,65,100,734
596,Joe Young,25,IND,53,1,558,80,186,0.430,25,...,0.759,12,51,63,39,14,1,26,39,207
161,Wayne Ellington,30,MIA,77,2,2041,285,700,0.407,227,...,0.859,23,195,218,79,53,8,52,94,864
518,Lance Stephenson,27,IND,82,7,1850,303,709,0.427,67,...,0.661,62,362,424,235,46,17,131,177,757
333,DeAndre Liggins,29,MIL,31,1,480,22,65,0.338,11,...,0.400,5,44,49,27,27,10,13,61,57
399,Emmanuel Mudiay,21,DEN,42,0,752,129,322,0.401,38,...,0.808,16,78,94,121,21,4,72,47,359
217,Devin Harris,34,DEN,27,0,533,69,170,0.406,35,...,0.845,3,39,42,67,14,4,27,55,222
101,Tyler Cavanaugh,23,ATL,39,1,518,67,152,0.441,32,...,0.810,45,82,127,27,9,4,14,61,183
55,Eric Bledsoe,28,MIL,71,71,2239,452,949,0.476,121,...,0.795,48,229,277,361,145,40,206,179,1266
113,Zach Collins,20,POR,66,1,1045,115,289,0.398,35,...,0.643,45,176,221,52,17,31,58,133,292
482,Devin Robinson,22,WAS,1,0,13,1,3,0.333,0,...,NaN,2,3,5,0,1,0,0,2,2
74,MarShon Brooks,29,MEM,7,1,193,51,102,0.500,19,...,0.870,8,13,21,25,11,3,16,6,141

In [79]:
list(bs)

['Player',
 'Age',
 'Tm',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [264]:
bs.Age

321    26
383    21
323    23
334    29
232    25
242    31
511    32
413    25
178    24
358    25
416    23
368    27
587    27
394    28
596    25
161    30
518    27
333    29
399    21
217    34
101    23
55     28
113    20
482    22
74     29
Name: Age, dtype: int64

In [263]:
bs.Player

321       Joffrey Lauvergne
383        Donovan Mitchell
323             Jake Layman
334         DeAndre Liggins
232              Myke Henry
242             George Hill
511              J.R. Smith
413               Raul Neto
178     Dorian Finney-Smith
358    James Michael McAdoo
416            Nerlens Noel
368     Trey McKinney-Jones
587            Jamil Wilson
394           Marcus Morris
596               Joe Young
161         Wayne Ellington
518        Lance Stephenson
333         DeAndre Liggins
399         Emmanuel Mudiay
217            Devin Harris
101         Tyler Cavanaugh
55             Eric Bledsoe
113            Zach Collins
482          Devin Robinson
74           MarShon Brooks
Name: Player, dtype: object

In [265]:
bs[['Player', 'Age']]

                   Player  Age
321     Joffrey Lauvergne   26
383      Donovan Mitchell   21
323           Jake Layman   23
334       DeAndre Liggins   29
232            Myke Henry   25
242           George Hill   31
511            J.R. Smith   32
413             Raul Neto   25
178   Dorian Finney-Smith   24
358  James Michael McAdoo   25
416          Nerlens Noel   23
368   Trey McKinney-Jones   27
587          Jamil Wilson   27
394         Marcus Morris   28
596             Joe Young   25
161       Wayne Ellington   30
518      Lance Stephenson   27
333       DeAndre Liggins   29
399       Emmanuel Mudiay   21
217          Devin Harris   34
101       Tyler Cavanaugh   23
55           Eric Bledsoe   28
113          Zach Collins   20
482        Devin Robinson   22
74         MarShon Brooks   29

In [98]:
lst = df.sample(20)
print(lst)

                Player  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  ...  \
198        Eric Gordon   29  HOU  69  30  2154  415   970  0.428  218  ...
452   London Perrantes   23  CLE  14   0    66    2    13  0.154    0  ...
148     Damyean Dotson   23  NYK  44   2   474   72   161  0.447   22  ...
243       Solomon Hill   26  NOP  12   1   187   11    41  0.268    4  ...
25        Luke Babbitt   28  ATL  37   9   570   80   168  0.476   49  ...
374      Jordan Mickey   23  MIA  23   3   284   39    82  0.476    2  ...
488       Terry Rozier   23  BOS  80  16  2068  316   800  0.395  153  ...
597         Nick Young   32  GSW  80   8  1393  201   488  0.412  123  ...
273       Josh Jackson   20  PHO  77  35  1959  389   932  0.417   57  ...
413          Raul Neto   25  UTA  41   0   498   69   151  0.457   19  ...
266       Kyrie Irving   25  BOS  60  60  1931  534  1087  0.491  166  ...
363   Chris McCullough   22  WAS  19   0    90   18    42  0.429    1  ...
513         Josh Smith   32  NOP   3   0    12    1     4  0.250    0  ...
453        Alec Peters   22  PHO  20   0   225   28    74  0.378   18  ...
85          Alec Burks   26  UTA  64   1  1059  170   414  0.411   47  ...
234   Juan Hernangomez   22  DEN  25   3   277   29    75  0.387   14  ...
119         Quinn Cook   24  GSW  33  18   740  122   252  0.484   46  ...
401   Shabazz Muhammad   25  MIN  32   2   301   47   121  0.388    4  ...
515  Marreese Speights   30  ORL  52   3   675  138   349  0.395   86  ...
48          Khem Birch   25  ORL  42   0   578   68   126  0.540    0  ...

       FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
198  0.809   25  145  170  154   44   27  130  116  1243
452  0.600    1    3    4    5    2    1    1    6     7
148  0.696    9   75   84   31   12    2   17   34   182
243  0.500    9   27   36   22    7    1    9   22    29
25   0.773    5   76   81   26    7    5   15   47   226
374  0.684   18   63   81    9    6   10   18   36    93
488  0.772   63  313  376  232   80   19   80  123   900
597  0.862   20  105  125   36   38    7   39  100   581
273  0.634   95  256  351  119   80   35  146  218  1012
413  0.743    7   42   49   75   13    4   36   38   183
266  0.889   33  194  227  306   65   17  140  122  1466
363  0.643    7   18   25    4    0    5    2    8    46
513    NaN    3    1    4    0    0    0    0    3     2
453  0.800    8   29   37   12    2    2    4   13    82
85   0.863   19  173  192   67   37    8   60   75   494
234  0.833   18   36   54   12    6    3    9   25    82
119  0.880   10   72   82   89   12    1   32   59   312
401  0.710   15   30   45    7    5    2    5   23   120
515  0.727   21  112  133   40    8   22   40  106   402
48   0.689   70  110  180   34   15   21   21   56   178

[20 rows x 28 columns]

In [99]:
lst[['Player', 'Age', 'PTS']]

                Player  Age   PTS
198        Eric Gordon   29  1243
452   London Perrantes   23     7
148     Damyean Dotson   23   182
243       Solomon Hill   26    29
25        Luke Babbitt   28   226
374      Jordan Mickey   23    93
488       Terry Rozier   23   900
597         Nick Young   32   581
273       Josh Jackson   20  1012
413          Raul Neto   25   183
266       Kyrie Irving   25  1466
363   Chris McCullough   22    46
513         Josh Smith   32     2
453        Alec Peters   22    82
85          Alec Burks   26   494
234   Juan Hernangomez   22    82
119         Quinn Cook   24   312
401   Shabazz Muhammad   25   120
515  Marreese Speights   30   402
48          Khem Birch   25   178

In [101]:
lst

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
198,Eric Gordon,29,HOU,69,30,2154,415,970,0.428,218,...,0.809,25,145,170,154,44,27,130,116,1243
452,London Perrantes,23,CLE,14,0,66,2,13,0.154,0,...,0.600,1,3,4,5,2,1,1,6,7
148,Damyean Dotson,23,NYK,44,2,474,72,161,0.447,22,...,0.696,9,75,84,31,12,2,17,34,182
243,Solomon Hill,26,NOP,12,1,187,11,41,0.268,4,...,0.500,9,27,36,22,7,1,9,22,29
25,Luke Babbitt,28,ATL,37,9,570,80,168,0.476,49,...,0.773,5,76,81,26,7,5,15,47,226
374,Jordan Mickey,23,MIA,23,3,284,39,82,0.476,2,...,0.684,18,63,81,9,6,10,18,36,93
488,Terry Rozier,23,BOS,80,16,2068,316,800,0.395,153,...,0.772,63,313,376,232,80,19,80,123,900
597,Nick Young,32,GSW,80,8,1393,201,488,0.412,123,...,0.862,20,105,125,36,38,7,39,100,581
273,Josh Jackson,20,PHO,77,35,1959,389,932,0.417,57,...,0.634,95,256,351,119,80,35,146,218,1012
413,Raul Neto,25,UTA,41,0,498,69,151,0.457,19,...,0.743,7,42,49,75,13,4,36,38,183
266,Kyrie Irving,25,BOS,60,60,1931,534,1087,0.491,166,...,0.889,33,194,227,306,65,17,140,122,1466
363,Chris McCullough,22,WAS,19,0,90,18,42,0.429,1,...,0.643,7,18,25,4,0,5,2,8,46
513,Josh Smith,32,NOP,3,0,12,1,4,0.250,0,...,NaN,3,1,4,0,0,0,0,3,2
453,Alec Peters,22,PHO,20,0,225,28,74,0.378,18,...,0.800,8,29,37,12,2,2,4,13,82
85,Alec Burks,26,UTA,64,1,1059,170,414,0.411,47,...,0.863,19,173,192,67,37,8,60,75,494
234,Juan Hernangomez,22,DEN,25,3,277,29,75,0.387,14,...,0.833,18,36,54,12,6,3,9,25,82
119,Quinn Cook,24,GSW,33,18,740,122,252,0.484,46,...,0.880,10,72,82,89,12,1,32,59,312
401,Shabazz Muhammad,25,MIN,32,2,301,47,121,0.388,4,...,0.710,15,30,45,7,5,2,5,23,120
515,Marreese Speights,30,ORL,52,3,675,138,349,0.395,86,...,0.727,21,112,133,40,8,22,40,106,402
48,Khem Birch,25,ORL,42,0,578,68,126,0.540,0,...,0.689,70,110,180,34,15,21,21,56,178

In [102]:
lst.iloc[:,2]
#[row, col]

198    HOU
452    CLE
148    NYK
243    NOP
25     ATL
374    MIA
488    BOS
597    GSW
273    PHO
413    UTA
266    BOS
363    WAS
513    NOP
453    PHO
85     UTA
234    DEN
119    GSW
401    MIN
515    ORL
48     ORL
Name: Tm, dtype: object

In [103]:
lst.iloc[:,0:3]

                Player  Age   Tm
198        Eric Gordon   29  HOU
452   London Perrantes   23  CLE
148     Damyean Dotson   23  NYK
243       Solomon Hill   26  NOP
25        Luke Babbitt   28  ATL
374      Jordan Mickey   23  MIA
488       Terry Rozier   23  BOS
597         Nick Young   32  GSW
273       Josh Jackson   20  PHO
413          Raul Neto   25  UTA
266       Kyrie Irving   25  BOS
363   Chris McCullough   22  WAS
513         Josh Smith   32  NOP
453        Alec Peters   22  PHO
85          Alec Burks   26  UTA
234   Juan Hernangomez   22  DEN
119         Quinn Cook   24  GSW
401   Shabazz Muhammad   25  MIN
515  Marreese Speights   30  ORL
48          Khem Birch   25  ORL

In [104]:
lst

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
198,Eric Gordon,29,HOU,69,30,2154,415,970,0.428,218,...,0.809,25,145,170,154,44,27,130,116,1243
452,London Perrantes,23,CLE,14,0,66,2,13,0.154,0,...,0.600,1,3,4,5,2,1,1,6,7
148,Damyean Dotson,23,NYK,44,2,474,72,161,0.447,22,...,0.696,9,75,84,31,12,2,17,34,182
243,Solomon Hill,26,NOP,12,1,187,11,41,0.268,4,...,0.500,9,27,36,22,7,1,9,22,29
25,Luke Babbitt,28,ATL,37,9,570,80,168,0.476,49,...,0.773,5,76,81,26,7,5,15,47,226
374,Jordan Mickey,23,MIA,23,3,284,39,82,0.476,2,...,0.684,18,63,81,9,6,10,18,36,93
488,Terry Rozier,23,BOS,80,16,2068,316,800,0.395,153,...,0.772,63,313,376,232,80,19,80,123,900
597,Nick Young,32,GSW,80,8,1393,201,488,0.412,123,...,0.862,20,105,125,36,38,7,39,100,581
273,Josh Jackson,20,PHO,77,35,1959,389,932,0.417,57,...,0.634,95,256,351,119,80,35,146,218,1012
413,Raul Neto,25,UTA,41,0,498,69,151,0.457,19,...,0.743,7,42,49,75,13,4,36,38,183
266,Kyrie Irving,25,BOS,60,60,1931,534,1087,0.491,166,...,0.889,33,194,227,306,65,17,140,122,1466
363,Chris McCullough,22,WAS,19,0,90,18,42,0.429,1,...,0.643,7,18,25,4,0,5,2,8,46
513,Josh Smith,32,NOP,3,0,12,1,4,0.250,0,...,NaN,3,1,4,0,0,0,0,3,2
453,Alec Peters,22,PHO,20,0,225,28,74,0.378,18,...,0.800,8,29,37,12,2,2,4,13,82
85,Alec Burks,26,UTA,64,1,1059,170,414,0.411,47,...,0.863,19,173,192,67,37,8,60,75,494
234,Juan Hernangomez,22,DEN,25,3,277,29,75,0.387,14,...,0.833,18,36,54,12,6,3,9,25,82
119,Quinn Cook,24,GSW,33,18,740,122,252,0.484,46,...,0.880,10,72,82,89,12,1,32,59,312
401,Shabazz Muhammad,25,MIN,32,2,301,47,121,0.388,4,...,0.710,15,30,45,7,5,2,5,23,120
515,Marreese Speights,30,ORL,52,3,675,138,349,0.395,86,...,0.727,21,112,133,40,8,22,40,106,402
48,Khem Birch,25,ORL,42,0,578,68,126,0.540,0,...,0.689,70,110,180,34,15,21,21,56,178

In [105]:
lst['ppg'] = 0

In [106]:
lst

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,ppg
198,Eric Gordon,29,HOU,69,30,2154,415,970,0.428,218,...,25,145,170,154,44,27,130,116,1243,0
452,London Perrantes,23,CLE,14,0,66,2,13,0.154,0,...,1,3,4,5,2,1,1,6,7,0
148,Damyean Dotson,23,NYK,44,2,474,72,161,0.447,22,...,9,75,84,31,12,2,17,34,182,0
243,Solomon Hill,26,NOP,12,1,187,11,41,0.268,4,...,9,27,36,22,7,1,9,22,29,0
25,Luke Babbitt,28,ATL,37,9,570,80,168,0.476,49,...,5,76,81,26,7,5,15,47,226,0
374,Jordan Mickey,23,MIA,23,3,284,39,82,0.476,2,...,18,63,81,9,6,10,18,36,93,0
488,Terry Rozier,23,BOS,80,16,2068,316,800,0.395,153,...,63,313,376,232,80,19,80,123,900,0
597,Nick Young,32,GSW,80,8,1393,201,488,0.412,123,...,20,105,125,36,38,7,39,100,581,0
273,Josh Jackson,20,PHO,77,35,1959,389,932,0.417,57,...,95,256,351,119,80,35,146,218,1012,0
413,Raul Neto,25,UTA,41,0,498,69,151,0.457,19,...,7,42,49,75,13,4,36,38,183,0
266,Kyrie Irving,25,BOS,60,60,1931,534,1087,0.491,166,...,33,194,227,306,65,17,140,122,1466,0
363,Chris McCullough,22,WAS,19,0,90,18,42,0.429,1,...,7,18,25,4,0,5,2,8,46,0
513,Josh Smith,32,NOP,3,0,12,1,4,0.250,0,...,3,1,4,0,0,0,0,3,2,0
453,Alec Peters,22,PHO,20,0,225,28,74,0.378,18,...,8,29,37,12,2,2,4,13,82,0
85,Alec Burks,26,UTA,64,1,1059,170,414,0.411,47,...,19,173,192,67,37,8,60,75,494,0
234,Juan Hernangomez,22,DEN,25,3,277,29,75,0.387,14,...,18,36,54,12,6,3,9,25,82,0
119,Quinn Cook,24,GSW,33,18,740,122,252,0.484,46,...,10,72,82,89,12,1,32,59,312,0
401,Shabazz Muhammad,25,MIN,32,2,301,47,121,0.388,4,...,15,30,45,7,5,2,5,23,120,0
515,Marreese Speights,30,ORL,52,3,675,138,349,0.395,86,...,21,112,133,40,8,22,40,106,402,0
48,Khem Birch,25,ORL,42,0,578,68,126,0.540,0,...,70,110,180,34,15,21,21,56,178,0

In [107]:
lst['ppg'] = round((lst['PTS']/lst['G']), 1)

In [108]:
lst

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,ppg
198,Eric Gordon,29,HOU,69,30,2154,415,970,0.428,218,...,25,145,170,154,44,27,130,116,1243,18.0
452,London Perrantes,23,CLE,14,0,66,2,13,0.154,0,...,1,3,4,5,2,1,1,6,7,0.5
148,Damyean Dotson,23,NYK,44,2,474,72,161,0.447,22,...,9,75,84,31,12,2,17,34,182,4.1
243,Solomon Hill,26,NOP,12,1,187,11,41,0.268,4,...,9,27,36,22,7,1,9,22,29,2.4
25,Luke Babbitt,28,ATL,37,9,570,80,168,0.476,49,...,5,76,81,26,7,5,15,47,226,6.1
374,Jordan Mickey,23,MIA,23,3,284,39,82,0.476,2,...,18,63,81,9,6,10,18,36,93,4.0
488,Terry Rozier,23,BOS,80,16,2068,316,800,0.395,153,...,63,313,376,232,80,19,80,123,900,11.2
597,Nick Young,32,GSW,80,8,1393,201,488,0.412,123,...,20,105,125,36,38,7,39,100,581,7.3
273,Josh Jackson,20,PHO,77,35,1959,389,932,0.417,57,...,95,256,351,119,80,35,146,218,1012,13.1
413,Raul Neto,25,UTA,41,0,498,69,151,0.457,19,...,7,42,49,75,13,4,36,38,183,4.5
266,Kyrie Irving,25,BOS,60,60,1931,534,1087,0.491,166,...,33,194,227,306,65,17,140,122,1466,24.4
363,Chris McCullough,22,WAS,19,0,90,18,42,0.429,1,...,7,18,25,4,0,5,2,8,46,2.4
513,Josh Smith,32,NOP,3,0,12,1,4,0.250,0,...,3,1,4,0,0,0,0,3,2,0.7
453,Alec Peters,22,PHO,20,0,225,28,74,0.378,18,...,8,29,37,12,2,2,4,13,82,4.1
85,Alec Burks,26,UTA,64,1,1059,170,414,0.411,47,...,19,173,192,67,37,8,60,75,494,7.7
234,Juan Hernangomez,22,DEN,25,3,277,29,75,0.387,14,...,18,36,54,12,6,3,9,25,82,3.3
119,Quinn Cook,24,GSW,33,18,740,122,252,0.484,46,...,10,72,82,89,12,1,32,59,312,9.5
401,Shabazz Muhammad,25,MIN,32,2,301,47,121,0.388,4,...,15,30,45,7,5,2,5,23,120,3.8
515,Marreese Speights,30,ORL,52,3,675,138,349,0.395,86,...,21,112,133,40,8,22,40,106,402,7.7
48,Khem Birch,25,ORL,42,0,578,68,126,0.540,0,...,70,110,180,34,15,21,21,56,178,4.2

In [112]:
lst.insert(3, column = 'league', value = 'NBA')
#insert column at specific

In [113]:
lst

,Player,Age,Tm,league,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,ppg
198,Eric Gordon,29,HOU,NBA,69,30,2154,415,970,0.428,...,25,145,170,154,44,27,130,116,1243,18.0
452,London Perrantes,23,CLE,NBA,14,0,66,2,13,0.154,...,1,3,4,5,2,1,1,6,7,0.5
148,Damyean Dotson,23,NYK,NBA,44,2,474,72,161,0.447,...,9,75,84,31,12,2,17,34,182,4.1
243,Solomon Hill,26,NOP,NBA,12,1,187,11,41,0.268,...,9,27,36,22,7,1,9,22,29,2.4
25,Luke Babbitt,28,ATL,NBA,37,9,570,80,168,0.476,...,5,76,81,26,7,5,15,47,226,6.1
374,Jordan Mickey,23,MIA,NBA,23,3,284,39,82,0.476,...,18,63,81,9,6,10,18,36,93,4.0
488,Terry Rozier,23,BOS,NBA,80,16,2068,316,800,0.395,...,63,313,376,232,80,19,80,123,900,11.2
597,Nick Young,32,GSW,NBA,80,8,1393,201,488,0.412,...,20,105,125,36,38,7,39,100,581,7.3
273,Josh Jackson,20,PHO,NBA,77,35,1959,389,932,0.417,...,95,256,351,119,80,35,146,218,1012,13.1
413,Raul Neto,25,UTA,NBA,41,0,498,69,151,0.457,...,7,42,49,75,13,4,36,38,183,4.5
266,Kyrie Irving,25,BOS,NBA,60,60,1931,534,1087,0.491,...,33,194,227,306,65,17,140,122,1466,24.4
363,Chris McCullough,22,WAS,NBA,19,0,90,18,42,0.429,...,7,18,25,4,0,5,2,8,46,2.4
513,Josh Smith,32,NOP,NBA,3,0,12,1,4,0.250,...,3,1,4,0,0,0,0,3,2,0.7
453,Alec Peters,22,PHO,NBA,20,0,225,28,74,0.378,...,8,29,37,12,2,2,4,13,82,4.1
85,Alec Burks,26,UTA,NBA,64,1,1059,170,414,0.411,...,19,173,192,67,37,8,60,75,494,7.7
234,Juan Hernangomez,22,DEN,NBA,25,3,277,29,75,0.387,...,18,36,54,12,6,3,9,25,82,3.3
119,Quinn Cook,24,GSW,NBA,33,18,740,122,252,0.484,...,10,72,82,89,12,1,32,59,312,9.5
401,Shabazz Muhammad,25,MIN,NBA,32,2,301,47,121,0.388,...,15,30,45,7,5,2,5,23,120,3.8
515,Marreese Speights,30,ORL,NBA,52,3,675,138,349,0.395,...,21,112,133,40,8,22,40,106,402,7.7
48,Khem Birch,25,ORL,NBA,42,0,578,68,126,0.540,...,70,110,180,34,15,21,21,56,178,4.2

In [127]:
ab = lst[['Player', 'FG%']]

In [130]:
#rename columns
ab.columns = ['player', 'field goal']
ab

                player  field goal
198        Eric Gordon       0.428
452   London Perrantes       0.154
148     Damyean Dotson       0.447
243       Solomon Hill       0.268
25        Luke Babbitt       0.476
374      Jordan Mickey       0.476
488       Terry Rozier       0.395
597         Nick Young       0.412
273       Josh Jackson       0.417
413          Raul Neto       0.457
266       Kyrie Irving       0.491
363   Chris McCullough       0.429
513         Josh Smith       0.250
453        Alec Peters       0.378
85          Alec Burks       0.411
234   Juan Hernangomez       0.387
119         Quinn Cook       0.484
401   Shabazz Muhammad       0.388
515  Marreese Speights       0.395
48          Khem Birch       0.540

In [133]:
ab.rename( columns={'player':'playaaas'})

              playaaas  field goal
198        Eric Gordon       0.428
452   London Perrantes       0.154
148     Damyean Dotson       0.447
243       Solomon Hill       0.268
25        Luke Babbitt       0.476
374      Jordan Mickey       0.476
488       Terry Rozier       0.395
597         Nick Young       0.412
273       Josh Jackson       0.417
413          Raul Neto       0.457
266       Kyrie Irving       0.491
363   Chris McCullough       0.429
513         Josh Smith       0.250
453        Alec Peters       0.378
85          Alec Burks       0.411
234   Juan Hernangomez       0.387
119         Quinn Cook       0.484
401   Shabazz Muhammad       0.388
515  Marreese Speights       0.395
48          Khem Birch       0.540

In [146]:
lst
lst.iloc[10:12]

,Player,Age,Tm,league,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,ppg
266,Kyrie Irving,25,BOS,NBA,60,60,1931,534,1087,0.491,...,33,194,227,306,65,17,140,122,1466,24.4
363,Chris McCullough,22,WAS,NBA,19,0,90,18,42,0.429,...,7,18,25,4,0,5,2,8,46,2.4

In [148]:
lst.iloc[10:12, 0:3]

               Player  Age   Tm
266      Kyrie Irving   25  BOS
363  Chris McCullough   22  WAS

In [151]:
lst.iloc[10]

Player    Kyrie Irving
Age                 25
Tm                 BOS
league             NBA
G                   60
GS                  60
MP                1931
FG                 534
FGA               1087
FG%              0.491
3P                 166
3PA                407
3P%              0.408
2P                 368
2PA                680
2P%              0.541
eFG%             0.568
FT                 232
FTA                261
FT%              0.889
ORB                 33
DRB                194
TRB                227
AST                306
STL                 65
BLK                 17
TOV                140
PF                 122
PTS               1466
ppg               24.4
Name: 266, dtype: object

In [152]:
lst.loc[198]
#loc is used to select the indexes

Player    Eric Gordon
Age                29
Tm                HOU
league            NBA
G                  69
GS                 30
MP               2154
FG                415
FGA               970
FG%             0.428
3P                218
3PA               608
3P%             0.359
2P                197
2PA               362
2P%             0.544
eFG%             0.54
FT                195
FTA               241
FT%             0.809
ORB                25
DRB               145
TRB               170
AST               154
STL                44
BLK                27
TOV               130
PF                116
PTS              1243
ppg              18.0
Name: 198, dtype: object

In [153]:
# dfe = df.dropna(axis=0, how='any')
# dfe = df.dropna(axis=0, how='all')
# dfe = df.dropna(subset = ['specific column'], how='all')

# dfe = df.fillna(0)

In [156]:
lst.sort_values('G')
#lst.sort_values('G', ascending=False)
#lst.sort_index()

,Player,Age,Tm,league,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,ppg
513,Josh Smith,32,NOP,NBA,3,0,12,1,4,0.250,...,3,1,4,0,0,0,0,3,2,0.7
243,Solomon Hill,26,NOP,NBA,12,1,187,11,41,0.268,...,9,27,36,22,7,1,9,22,29,2.4
452,London Perrantes,23,CLE,NBA,14,0,66,2,13,0.154,...,1,3,4,5,2,1,1,6,7,0.5
363,Chris McCullough,22,WAS,NBA,19,0,90,18,42,0.429,...,7,18,25,4,0,5,2,8,46,2.4
453,Alec Peters,22,PHO,NBA,20,0,225,28,74,0.378,...,8,29,37,12,2,2,4,13,82,4.1
374,Jordan Mickey,23,MIA,NBA,23,3,284,39,82,0.476,...,18,63,81,9,6,10,18,36,93,4.0
234,Juan Hernangomez,22,DEN,NBA,25,3,277,29,75,0.387,...,18,36,54,12,6,3,9,25,82,3.3
401,Shabazz Muhammad,25,MIN,NBA,32,2,301,47,121,0.388,...,15,30,45,7,5,2,5,23,120,3.8
119,Quinn Cook,24,GSW,NBA,33,18,740,122,252,0.484,...,10,72,82,89,12,1,32,59,312,9.5
25,Luke Babbitt,28,ATL,NBA,37,9,570,80,168,0.476,...,5,76,81,26,7,5,15,47,226,6.1
413,Raul Neto,25,UTA,NBA,41,0,498,69,151,0.457,...,7,42,49,75,13,4,36,38,183,4.5
48,Khem Birch,25,ORL,NBA,42,0,578,68,126,0.540,...,70,110,180,34,15,21,21,56,178,4.2
148,Damyean Dotson,23,NYK,NBA,44,2,474,72,161,0.447,...,9,75,84,31,12,2,17,34,182,4.1
515,Marreese Speights,30,ORL,NBA,52,3,675,138,349,0.395,...,21,112,133,40,8,22,40,106,402,7.7
266,Kyrie Irving,25,BOS,NBA,60,60,1931,534,1087,0.491,...,33,194,227,306,65,17,140,122,1466,24.4
85,Alec Burks,26,UTA,NBA,64,1,1059,170,414,0.411,...,19,173,192,67,37,8,60,75,494,7.7
198,Eric Gordon,29,HOU,NBA,69,30,2154,415,970,0.428,...,25,145,170,154,44,27,130,116,1243,18.0
273,Josh Jackson,20,PHO,NBA,77,35,1959,389,932,0.417,...,95,256,351,119,80,35,146,218,1012,13.1
597,Nick Young,32,GSW,NBA,80,8,1393,201,488,0.412,...,20,105,125,36,38,7,39,100,581,7.3
488,Terry Rozier,23,BOS,NBA,80,16,2068,316,800,0.395,...,63,313,376,232,80,19,80,123,900,11.2

In [157]:
#lst.sort_values('G', inplace=True) -> to overide initial lst

In [158]:
df

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
1,Quincy Acy,27,BRK,70,8,1359,130,365,0.356,102,...,0.817,40,217,257,57,33,29,60,149,411
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
3,Bam Adebayo,20,MIA,69,19,1368,174,340,0.512,0,...,0.721,118,263,381,101,32,41,66,138,477
4,Arron Afflalo,32,ORL,53,3,682,65,162,0.401,27,...,0.846,4,62,66,30,4,9,21,56,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,Tyler Zeller,28,BRK,42,33,703,125,229,0.546,10,...,0.667,63,131,194,28,8,21,35,78,300
601,Tyler Zeller,28,MIL,24,1,406,62,105,0.590,0,...,0.895,47,64,111,19,7,14,12,48,141
602,Paul Zipser,23,CHI,54,12,824,81,234,0.346,37,...,0.760,13,118,131,46,20,15,43,86,218
603,Ante Zizic,21,CLE,32,2,214,49,67,0.731,0,...,0.724,24,36,60,5,2,13,11,30,119
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [167]:
dm = pd.read_csv('nba_season_stats.csv')
dm.head()

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
1,Quincy Acy,27,BRK,70,8,1359,130,365,0.356,102,...,0.817,40,217,257,57,33,29,60,149,411
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
3,Bam Adebayo,20,MIA,69,19,1368,174,340,0.512,0,...,0.721,118,263,381,101,32,41,66,138,477
4,Arron Afflalo,32,ORL,53,3,682,65,162,0.401,27,...,0.846,4,62,66,30,4,9,21,56,179

In [172]:
lakers = dm[dm['Tm'] == 'LAL']
lakers
#Filter based on column

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
30,Lonzo Ball,20,LAL,52,50,1780,203,564,0.360,90,...,0.451,69,291,360,376,88,43,136,117,528
56,Vander Blue,25,LAL,5,0,45,1,5,0.200,0,...,0.500,0,1,1,3,1,0,3,2,3
59,Andrew Bogut,33,LAL,23,5,216,17,25,0.680,0,...,1.000,26,52,78,15,4,13,19,40,36
69,Corey Brewer,31,LAL,54,2,694,78,172,0.453,8,...,0.667,23,70,93,41,41,8,38,83,198
82,Thomas Bryant,20,LAL,15,0,72,8,21,0.381,1,...,0.556,3,14,17,6,1,2,2,6,22
91,Kentavious Caldwell-Pope,24,LAL,74,74,2458,340,798,0.426,159,...,0.789,60,327,387,162,106,16,97,145,992
98,Alex Caruso,23,LAL,37,7,562,50,116,0.431,13,...,0.700,15,50,65,75,23,10,42,52,134
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771
142,Luol Deng,32,LAL,1,1,13,1,2,0.500,0,...,NaN,0,0,0,1,1,0,1,0,2
165,Tyler Ennis,23,LAL,54,11,683,94,224,0.420,14,...,0.759,19,76,95,105,30,10,38,75,224
184,Channing Frye,34,LAL,9,0,150,20,43,0.465,9,...,0.750,2,23,25,10,1,1,4,15,52
225,Josh Hart,22,LAL,63,23,1461,176,375,0.469,78,...,0.702,42,221,263,80,47,16,47,107,496
227,Nigel Hayes,23,LAL,2,0,11,1,3,0.333,0,...,1.000,0,0,0,2,0,0,0,0,3
264,Andre Ingram,32,LAL,2,0,64,8,17,0.471,5,...,1.000,1,5,6,7,3,3,3,3,24
265,Brandon Ingram,20,LAL,59,59,1975,358,761,0.470,41,...,0.681,57,257,314,230,45,43,149,163,949
316,Kyle Kuzma,22,LAL,77,37,2401,468,1039,0.450,159,...,0.707,88,395,483,141,49,34,140,160,1242
339,Brook Lopez,29,LAL,74,72,1735,369,793,0.465,112,...,0.703,74,220,294,126,30,98,98,195,961
408,Larry Nance,25,LAL,42,17,922,152,253,0.601,1,...,0.632,108,176,284,57,59,20,41,113,360
450,Gary Payton,25,LAL,11,0,115,17,41,0.415,4,...,0.167,9,18,27,12,4,2,4,13,39
470,Julius Randle,23,LAL,82,49,2190,504,904,0.558,10,...,0.718,181,473,654,210,43,45,213,274,1323
533,Isaiah Thomas,28,LAL,17,1,456,87,227,0.383,33,...,0.921,10,26,36,85,6,1,54,33,265
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [176]:
lakers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, 30 to 604
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  24 non-null     object
 1   Age     24 non-null     int64
 2   Tm      24 non-null     object
 3   G       24 non-null     int64
 4   GS      24 non-null     int64
 5   MP      24 non-null     int64
 6   FG      24 non-null     int64
 7   FGA     24 non-null     int64
 8   FG%     24 non-null     float64
 9   3P      24 non-null     int64
 10  3PA     24 non-null     int64
 11  3P%     22 non-null     float64
 12  2P      24 non-null     int64
 13  2PA     24 non-null     int64
 14  2P%     24 non-null     float64
 15  eFG%    24 non-null     float64
 16  FT      24 non-null     int64
 17  FTA     24 non-null     int64
 18  FT%     22 non-null     float64
 19  ORB     24 non-null     int64
 20  DRB     24 non-null     int64
 21  TRB     24 non-null     int64
 22  AST     24 non-null     int64
 23  STL     24 non-null     int64
 24  BLK     24 non-null     int64
 25  TOV     24 non-null     int64
 26  PF      24 non-null     int64
 27  PTS     24 non-null     int64
dtypes: float64(5), int64(21), object(2)
memory usage: 5.4+ KB

In [179]:
(dm['Tm'] == 'MIA') & (dm['GS'] > 15)
dm[(dm['Tm'] == 'MIA') & (dm['GS'] > 15)]

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
3,Bam Adebayo,20,MIA,69,19,1368,174,340,0.512,0,...,0.721,118,263,381,101,32,41,66,138,477
151,Goran Dragic,31,MIA,75,75,2378,484,1075,0.450,111,...,0.801,54,253,307,359,63,12,166,180,1296
287,James Johnson,30,MIA,73,41,1943,309,614,0.503,57,...,0.698,61,297,358,280,70,51,141,192,788
292,Tyler Johnson,25,MIA,72,39,2052,309,711,0.435,119,...,0.822,34,214,248,165,60,34,81,148,843
430,Kelly Olynyk,26,MIA,76,22,1779,316,636,0.497,106,...,0.770,89,342,431,207,62,35,147,222,872
477,Josh Richardson,24,MIA,81,81,2689,399,885,0.451,127,...,0.845,69,216,285,231,121,75,140,199,1045
556,Dion Waiters,26,MIA,30,30,918,163,410,0.398,52,...,0.739,8,69,77,113,23,9,70,61,429
574,Hassan Whiteside,28,MIA,54,54,1364,312,578,0.540,2,...,0.703,174,444,618,54,37,94,92,131,754
588,Justise Winslow,21,MIA,68,25,1680,207,488,0.424,49,...,0.635,64,306,370,148,54,33,77,140,529

In [182]:
dm['Tm'].isin(['OKC', 'LAL', 'CHI'])
dm[dm['Tm'].isin(['OKC', 'LAL', 'CHI'])]
#filters using isin

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
16,Carmelo Anthony,33,OKC,78,78,2501,472,1168,0.404,169,...,0.767,67,386,453,103,47,49,99,197,1261
18,Ryan Arcidiacono,23,CHI,24,0,304,17,41,0.415,9,...,0.833,1,24,25,35,13,0,13,18,48
23,Omer Asik,31,CHI,4,0,61,2,6,0.333,0,...,0.000,2,8,10,1,1,2,4,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,Travis Wear,27,LAL,17,0,228,25,72,0.347,17,...,1.000,0,38,38,7,4,5,6,30,75
569,Russell Westbrook,29,OKC,80,80,2914,757,1687,0.449,97,...,0.737,152,652,804,820,147,20,381,200,2028
580,Derrick Williams,26,LAL,2,0,9,1,4,0.250,0,...,NaN,0,1,1,0,0,0,0,0,2
602,Paul Zipser,23,CHI,54,12,824,81,234,0.346,37,...,0.760,13,118,131,46,20,15,43,86,218
604,Ivica Zubac,20,LAL,43,0,410,61,122,0.500,0,...,0.765,45,78,123,25,8,15,26,47,161

In [203]:
group = dm.groupby('Tm')
group
#groupby filter

In [186]:
group['Age'].mean().sort_values(ascending=False)

Tm
CLE    29.000000
NOP    28.086957
SAS    28.058824
HOU    28.000000
GSW    28.000000
WAS    27.133333
MIN    27.000000
OKC    26.705882
DAL    26.652174
LAC    26.571429
MIA    26.421053
DET    26.318182
UTA    26.238095
MIL    26.000000
NYK    25.857143
IND    25.842105
DEN    25.833333
SAC    25.777778
ATL    25.500000
LAL    25.500000
CHO    25.470588
MEM    25.458333
BOS    25.400000
PHI    25.304348
ORL    25.263158
BRK    25.227273
TOR    24.833333
CHI    24.619048
PHO    24.363636
POR    24.125000
Name: Age, dtype: float64

In [207]:
grouped = dm.groupby('Tm')
MIL = grouped.get_group('MIL')
MIL

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
15,Giannis Antetokounmpo,23,MIL,75,75,2756,742,1402,0.529,43,...,0.760,156,597,753,361,109,106,223,231,2014
55,Eric Bledsoe,28,MIL,71,71,2239,452,949,0.476,121,...,0.795,48,229,277,361,145,40,206,179,1266
60,Joel Bolomboy,24,MIL,6,0,38,3,6,0.500,0,...,0.500,6,4,10,0,2,0,2,3,9
71,Malcolm Brogdon,25,MIL,48,20,1436,244,503,0.485,62,...,0.882,23,133,156,152,41,13,66,128,625
80,Sterling Brown,22,MIL,54,4,776,82,205,0.400,32,...,0.875,27,116,143,25,31,13,25,80,217
141,Matthew Dellavedova,27,MIL,38,3,712,55,152,0.362,29,...,0.926,14,50,64,145,14,0,49,67,164
233,John Henson,27,MIL,76,69,1970,287,502,0.572,1,...,0.570,150,363,513,114,45,109,84,202,665
281,Brandon Jennings,28,MIL,14,0,205,27,72,0.375,9,...,1.000,5,26,31,44,6,4,18,11,73
308,Sean Kilpatrick,28,MIL,23,0,205,31,82,0.378,13,...,0.947,1,24,25,15,5,1,9,15,93
333,DeAndre Liggins,29,MIL,31,1,480,22,65,0.338,11,...,0.400,5,44,49,27,27,10,13,61,57
349,Thon Maker,20,MIL,74,12,1238,130,316,0.411,31,...,0.699,75,150,225,46,38,53,44,162,356
375,Khris Middleton,26,MIL,82,82,2982,593,1272,0.466,146,...,0.884,45,384,429,328,119,21,191,270,1652
386,Greg Monroe,27,MIL,5,0,79,16,33,0.485,0,...,0.500,6,19,25,5,0,0,6,7,34
402,Shabazz Muhammad,25,MIL,11,0,117,37,67,0.552,3,...,0.895,8,23,31,7,4,1,1,7,94
403,Xavier Munford,25,MIL,6,0,21,1,6,0.167,0,...,0.500,1,0,1,4,1,0,2,4,3
438,Jabari Parker,22,MIL,31,3,743,160,332,0.482,31,...,0.741,42,109,151,59,25,10,45,50,391
449,Gary Payton,25,MIL,12,6,106,13,33,0.394,2,...,0.667,4,13,17,9,3,1,3,17,30
454,Marshall Plumlee,25,MIL,8,0,52,1,3,0.333,0,...,0.750,4,13,17,2,0,1,3,10,14
514,Tony Snell,26,MIL,75,59,2053,185,425,0.435,108,...,0.792,9,132,141,98,47,28,36,115,516
527,Mirza Teletovic,32,MIL,10,0,159,25,57,0.439,21,...,NaN,3,20,23,10,4,1,7,14,71
530,Jason Terry,40,MIL,51,4,814,59,154,0.383,40,...,0.889,5,43,48,59,42,13,25,52,166
548,Rashad Vaughn,21,MIL,22,0,173,21,50,0.420,13,...,0.667,2,15,17,12,4,3,4,12,59
586,D.J. Wilson,21,MIL,22,0,71,9,16,0.563,2,...,0.500,2,8,10,3,3,1,4,7,21
601,Tyler Zeller,28,MIL,24,1,406,62,105,0.590,0,...,0.895,47,64,111,19,7,14,12,48,141

In [256]:
MIL.sort_values('Age')

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
349,Thon Maker,20,MIL,74,12,1238,130,316,0.411,31,...,0.699,75,150,225,46,38,53,44,162,356
548,Rashad Vaughn,21,MIL,22,0,173,21,50,0.420,13,...,0.667,2,15,17,12,4,3,4,12,59
586,D.J. Wilson,21,MIL,22,0,71,9,16,0.563,2,...,0.500,2,8,10,3,3,1,4,7,21
80,Sterling Brown,22,MIL,54,4,776,82,205,0.400,32,...,0.875,27,116,143,25,31,13,25,80,217
438,Jabari Parker,22,MIL,31,3,743,160,332,0.482,31,...,0.741,42,109,151,59,25,10,45,50,391
15,Giannis Antetokounmpo,23,MIL,75,75,2756,742,1402,0.529,43,...,0.760,156,597,753,361,109,106,223,231,2014
60,Joel Bolomboy,24,MIL,6,0,38,3,6,0.500,0,...,0.500,6,4,10,0,2,0,2,3,9
71,Malcolm Brogdon,25,MIL,48,20,1436,244,503,0.485,62,...,0.882,23,133,156,152,41,13,66,128,625
454,Marshall Plumlee,25,MIL,8,0,52,1,3,0.333,0,...,0.750,4,13,17,2,0,1,3,10,14
449,Gary Payton,25,MIL,12,6,106,13,33,0.394,2,...,0.667,4,13,17,9,3,1,3,17,30
403,Xavier Munford,25,MIL,6,0,21,1,6,0.167,0,...,0.500,1,0,1,4,1,0,2,4,3
402,Shabazz Muhammad,25,MIL,11,0,117,37,67,0.552,3,...,0.895,8,23,31,7,4,1,1,7,94
514,Tony Snell,26,MIL,75,59,2053,185,425,0.435,108,...,0.792,9,132,141,98,47,28,36,115,516
375,Khris Middleton,26,MIL,82,82,2982,593,1272,0.466,146,...,0.884,45,384,429,328,119,21,191,270,1652
233,John Henson,27,MIL,76,69,1970,287,502,0.572,1,...,0.570,150,363,513,114,45,109,84,202,665
141,Matthew Dellavedova,27,MIL,38,3,712,55,152,0.362,29,...,0.926,14,50,64,145,14,0,49,67,164
386,Greg Monroe,27,MIL,5,0,79,16,33,0.485,0,...,0.500,6,19,25,5,0,0,6,7,34
308,Sean Kilpatrick,28,MIL,23,0,205,31,82,0.378,13,...,0.947,1,24,25,15,5,1,9,15,93
281,Brandon Jennings,28,MIL,14,0,205,27,72,0.375,9,...,1.000,5,26,31,44,6,4,18,11,73
55,Eric Bledsoe,28,MIL,71,71,2239,452,949,0.476,121,...,0.795,48,229,277,361,145,40,206,179,1266
601,Tyler Zeller,28,MIL,24,1,406,62,105,0.590,0,...,0.895,47,64,111,19,7,14,12,48,141
333,DeAndre Liggins,29,MIL,31,1,480,22,65,0.338,11,...,0.400,5,44,49,27,27,10,13,61,57
527,Mirza Teletovic,32,MIL,10,0,159,25,57,0.439,21,...,NaN,3,20,23,10,4,1,7,14,71
530,Jason Terry,40,MIL,51,4,814,59,154,0.383,40,...,0.889,5,43,48,59,42,13,25,52,166

In [241]:
group[['3P' , 'FG', 'G']].sum()

       3P    FG    G
Tm
ATL   917  3130  898
BOS   939  3141  888
BRK  1041  3136  868
CHI   906  3170  848
CHO   824  3197  890
CLE   981  3311  899
DAL   967  3128  869
DEN   940  3338  833
DET   886  3208  864
GSW   926  3509  966
HOU  1256  3174  799
IND   741  3345  849
LAC   777  3302  864
LAL   822  3338  868
MEM   758  3013  855
MIA   903  3184  803
MIL   718  3257  869
MIN   658  3365  821
NOP   837  3500  825
NYK   673  3334  904
OKC   881  3271  886
ORL   844  3182  887
PHI   901  3349  837
PHO   763  3153  859
POR   845  3222  876
SAC   738  3179  865
SAS   696  3202  956
TOR   968  3383  930
UTA   887  3139  863
WAS   814  3275  866

In [242]:
player = dm.groupby('Player')

In [254]:
player['3P'].sum().sort_values(ascending = False).head(20)

Player
James Harden             265
Paul George              244
Kyle Lowry               238
Kemba Walker             231
Klay Thompson            229
Wayne Ellington          227
Damian Lillard           227
Eric Gordon              218
Stephen Curry            212
Joe Ingles               204
Robert Covington         203
Allen Crabbe             201
Bradley Beal             199
J.J. Redick              193
CJ McCollum              189
Donovan Mitchell         187
Lou Williams             186
Troy Daniels             183
Tobias Harris            183
Taurean Waller-Prince    176
Name: 3P, dtype: int64

In [253]:
player[['3P', 'FG%']].sum()

                 3P    FG%
Player
Aaron Brooks     11  0.406
Aaron Gordon    115  0.434
Aaron Harrison    9  0.275
Aaron Jackson     1  0.333
Abdel Nader      23  0.336
...             ...    ...
Zach Collins     35  0.398
Zach LaVine      42  0.383
Zach Randolph    51  0.473
Zaza Pachulia     0  0.564
Zhou Qi           2  0.188

[540 rows x 2 columns]

In [292]:
FG = dm.groupby('Age')
two5 = FG.get_group(25)

In [293]:
THREE25 = two5.sort_values('PTS' , ascending = False).head(15)
THREE25

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
429,Victor Oladipo,25,IND,75,75,2552,640,1342,0.477,161,...,0.799,47,343,390,323,177,57,219,175,1735
266,Kyrie Irving,25,BOS,60,60,1931,534,1087,0.491,166,...,0.889,33,194,227,306,65,17,140,122,1466
32,Harrison Barnes,25,DAL,77,77,2634,537,1208,0.445,119,...,0.827,77,391,468,152,49,14,118,94,1452
239,Buddy Hield,25,SAC,80,12,2024,416,933,0.446,176,...,0.877,55,252,307,155,85,22,124,148,1079
319,Jeremy Lamb,25,CHO,80,18,1967,380,832,0.457,94,...,0.861,49,275,324,186,61,32,93,138,1033
180,Evan Fournier,25,ORL,57,57,1837,368,802,0.459,127,...,0.867,23,157,180,165,47,16,95,138,1013
304,Enes Kanter,25,NYK,71,71,1830,422,713,0.592,0,...,0.848,273,507,780,105,36,37,122,187,1000
212,Tim Hardaway,25,NYK,57,54,1885,360,856,0.421,130,...,0.816,32,192,224,155,62,10,92,123,996
125,Allen Crabbe,25,BRK,75,68,2197,337,827,0.407,201,...,0.852,28,296,324,117,47,35,78,168,990
545,Jonas Valanciunas,25,TOR,77,77,1727,390,687,0.568,30,...,0.806,183,477,660,81,29,69,115,192,980
480,Austin Rivers,25,LAC,61,59,2057,341,805,0.424,136,...,0.642,27,118,145,242,74,16,109,152,920
57,Bogdan Bogdanovic,25,SAC,78,53,2175,344,772,0.446,129,...,0.840,31,192,223,258,72,16,125,172,917
220,Tobias Harris,25,DET,48,48,1563,320,709,0.451,113,...,0.846,36,208,244,94,34,15,51,91,868
292,Tyler Johnson,25,MIA,72,39,2052,309,711,0.435,119,...,0.822,34,214,248,165,60,34,81,148,843
107,Jordan Clarkson,25,LAL,53,2,1256,299,667,0.448,68,...,0.795,44,115,159,173,39,3,95,63,771

In [297]:
dm.head(6)

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Alex Abrines,24,OKC,75,8,1134,115,291,0.395,84,...,0.848,26,88,114,28,38,8,25,124,353
1,Quincy Acy,27,BRK,70,8,1359,130,365,0.356,102,...,0.817,40,217,257,57,33,29,60,149,411
2,Steven Adams,24,OKC,76,76,2487,448,712,0.629,0,...,0.559,384,301,685,88,92,78,128,215,1056
3,Bam Adebayo,20,MIA,69,19,1368,174,340,0.512,0,...,0.721,118,263,381,101,32,41,66,138,477
4,Arron Afflalo,32,ORL,53,3,682,65,162,0.401,27,...,0.846,4,62,66,30,4,9,21,56,179
5,Cole Aldrich,29,MIN,21,0,49,5,15,0.333,0,...,0.333,3,12,15,3,2,1,1,11,12

In [295]:
#FUNCTIONS
def add_year(c_age):
    new_age = c_age+1
    return new_age

In [296]:
dm['Age'].apply(add_year)

0      25
1      28
2      25
3      21
4      33
       ..
600    29
601    29
602    24
603    22
604    21
Name: Age, Length: 605, dtype: int64

In [336]:
dm[['FT', 'FTA']]

def ft_calculator(rw):
    ft_perc = rw['FT'] / (rw['FTA'] + 0.0001 )
    return round(ft_perc,2)

In [337]:
dm.apply(ft_calculator, axis=1)

0      0.85
1      0.82
2      0.56
3      0.72
4      0.85
       ...
600    0.67
601    0.89
602    0.76
603    0.72
604    0.76
Length: 605, dtype: float64

In [350]:
ftt = dm.groupby('Player').sum().apply(ft_calculator, axis=1).sort_values(ascending = False)
ftt.head(100)

Player
Gian Clavell             1.00
Monte Morris             1.00
Jordan Crawford          1.00
Andre Ingram             1.00
James Michael McAdoo     1.00
                         ...
Trevor Ariza             0.85
Arron Afflalo            0.85
Taurean Waller-Prince    0.84
Malik Monk               0.84
Pat Connaughton          0.84
Length: 100, dtype: float64